.main__friends {
	display: grid;
	grid-template-areas: 'list message';
	grid-template-columns: 2fr 5fr;
}


.friends {
	background-color: #fab819;
	border-radius: 20px;
}

.friends__list {
	padding: 20px;
	list-style: none;

	grid-area: list;
}

.friends__list li {
	margin: 0px 0px 20px 0px;
	font-size: 18px;
	color: #333;
	cursor: pointer;
}

.friends__list li a {
	text-decoration: none;
	color: antiquewhite;
}

.friends__list li a.active {
	color: #333;
}